cryptography
beautifulsoup4==4.8.0
certifi==2023.7.22
chardet==3.0.4
Click==7.0
Flask==2.2.5
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
line-bot-sdk==1.14.0
MarkupSafe==1.1.1
Pillow==10.0.1
python-dotenv==0.10.3
requests==2.31.0
selenium==3.141.0
soupsieve==1.9.4
urllib3==1.26.5
Werkzeug==2.2.3
